<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Backend Ninja - Método no permitido</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div class="jumbotron">
		<div class="container text-center">
			<img src="../static/imgs/404.png" th:src="@{/imgs/404.png}" />
		</div>
		<br /> <br />
		<div class="container">
			<h1>Método no permitido</h1>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Go
				back</button>
		</div>
	</div>
</body>
</html>

